<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
</head>

<body>
  <nav>
    <ul>
      <!-- sashimi:repeat(@pages) as e -->
      <li>
        <!-- sashimi:link(e) -->
        <a href="#">Blah</a>
      </li>
    </ul>
  </nav>
  <div class="main">
  </div>
  <!-- sashimi:layout_section(main) -->
  <div class="content">
  </div>
</body>

</html>